<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Objective-C boilerplate generator — Extra DRY</title>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  <link href="master.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
</head>

<body>
  <a href="http://github.com/andreyvit/xdry"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

  <div id="container">

    {{ content }}

  </div>

  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-861679-14");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
